:root{
  --primary-color: #2e4330; 
  --secondary-color: #f8a51b;
  --primary-text: #2d2d2d;
  --background-color: #ffffff;
  --font-family: 'Poppins', sans-serif;
  --border-color: #e0e0e0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  text-decoration: none;
  list-style: none;
}

body{
  background-color: var(--background-color);
  color: var(--primary-text);
}