:root {
    --primary-color: #f8f9fa;
    --secondary-color: #ff7373;
    --text-color: #343a40;
    --light-color: #797979;
    --highlight-color: #714e2b;
    --background-color: aliceblue;
}

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
}